<div class="navigation1" >
    <ul style="padding-left: 0em;">
        <li>
            <a href="#">
                <span class="icon1">
                    <img src="../../../assets/img/Vector.png" alt="" >
                </span>
                <span class="title1">Reporting</span>
            </a>
        </li>

        <li *ngIf="rol === 'secretaria'  ||  rol === 'admin'">
            <a href="docentes">
                <span class="icon1">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title1">Registro de docentes</span>
            </a>
        </li>

        <li *ngIf="rol === 'secretaria' ||  rol === 'admin'">
            <a href="actividades">
                <span class="icon1">
                    <ion-icon name="clipboard-outline"></ion-icon>
                </span>
                <span class="title1">Registro de Actividades</span>
            </a>
        </li>
        <li *ngIf="rol === 'secretaria' ||  rol === 'admin'">
            <a href="carreras">
                <span class="icon1">
                    <ion-icon name="clipboard-outline"></ion-icon>
                </span>
                <span class="title1">Registro de Malla curricular</span>
            </a>
        </li>
        <li *ngIf="rol === 'docente' || rol === 'admin'">
            <a href="notificacion">
                <span class="icon1">
                    <ion-icon name="notifications-outline"></ion-icon>
                </span>
                <span class="title1">Carga de Material</span>
            </a>
        </li>

        <li *ngIf="rol === 'secretaria' || rol === 'admin'">
            <a href="asignaciones">
                <span class="icon1">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                </span>
                <span class="title1">Alertas Manuales</span>
            </a>
        </li>

        <!-- <li>
            <a href="carga-material">
                <span class="icon1">
                    <ion-icon name="file-tray-full-outline"></ion-icon>
                </span>
                <span class="title1">Carga de Material</span>
            </a>
        </li> -->

        <li *ngIf="rol === 'docente' ||  rol === 'secretaria' ||  rol === 'admin'">
            <a href="calendario">
                
                <span class="icon1">
                    <ion-icon name="calendar-outline"></ion-icon>
                </span>
                <span class="title1">Calendario</span>
            </a>
        </li>

        
        <li>
            <a href="login" (click)="logout()">
                
                <span class="icon1">
                    <ion-icon name="log-in-outline"></ion-icon>
                </span>
                <span class="title1">Salir</span>
            </a>
        </li>
    </ul>
</div>