.navigation1 .icon1,
.navigation1 img {
  width: 40px; /* Ajusta el ancho de los íconos e imágenes a tu preferencia */
  height: 40px;
}


/* Estilos para el menú desplegable de Registro */
.registro-dropdown {
  position: relative;
}

.registro-submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  top: 100%;
  left: 0;

}

.registro-dropdown:hover .registro-submenu {
  display: contents;
}