<style>
  .content-section {
    margin-left: 70px;
    margin-right: 10px;
    padding: 20px;
  }

  .content-section1 {
    margin-left: 20px;

    padding: 20px;
  }
</style>

<h2 class="custom-heading" style="text-align: center; color: blueviolet">
  Registro de Docentes
</h2>
<section class="content-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <form
        autocomplete="off"
        [formGroup]="f"
        (ngSubmit)="crearDocente()"
        class="form-group"
        class="col-md-12"
      >
        <div style="display: flex">
          <div class="col-md-5" style="margin-right: 90px">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input
                id="nombre"
                class="form-control"
                type="text"
                placeholder="Ingrese su Nombre"
                formControlName="nombre"
                [ngClass]="{'is-invalid': invalidField('nombre') || f.controls.nombre.invalid && f.controls.nombre.errors?.['pattern'] }"
              />
              <div
                class="invalid-feedback"
                *ngIf="f.controls.nombre.invalid && f.controls.nombre.errors?.['required']"
              >
                Please fill out this field.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="f.controls.nombre.invalid && f.controls.nombre.errors?.['pattern']"
              >
                Please write the name correctly
              </div>
            </div>
            <div class="form-group">
              <label for="celular">celular:</label>
              <input
                id="celular"
                class="form-control"
                type="text"
                placeholder="Ingrese su Telefono"
                formControlName="celular"
              />
            </div>
            <div class="form-group">
              <label for="cedula">Cedula:</label>
              <input
                id="cedula"
                class="form-control"
                type="text"
                placeholder="Ingrese su Apellido"
                formControlName="cedula"
                [ngClass]="{ 'is-invalid': invalidField('apellido') }"
              />
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
          </div>
              <!-- <button id="btnAsignar" class="btn btn-primary float-right"  style="background-color: blueviolet; border-color: blueviolet;">Asignar</button> -->
         
          <div class="col-md-5">
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input
                id="apellido"
                class="form-control"
                type="text"
                placeholder="Ingrese su Apellido"
                formControlName="apellido"
                [ngClass]="{ 'is-invalid': invalidField('apellido') }"
              />
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                id="email"
                class="form-control"
                type="email"
                placeholder="Ingrese su Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': invalidField('email') }"
              />
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="asignatura">Asignatura</label>
              <input
                id="asignatura"
                class="form-control"
                type="text"
                placeholder="Ingrese la asignatura"
                formControlName="asignatura"
              />
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
          </div>
        </div>

        <div class="col-md-11">
          <div class="form-group">
            <label for="asunto">Alertas de entrega:</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Escoger Archivo</label
                >
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="archivoCSVLabel">Seleccionar CSV</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <!-- Remueve [(ngModel)] y usa (change) para manejar el evento de cambio -->
                    <input
                      type="checkbox"
                      aria-label="Check to enable CSV upload"
                      (change)="handleCSVCheckboxChange($event)"
                    />
                  </div>
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="archivoCSV"
                    aria-describedby="inputGroupFileAddonCSV"
                    (change)="onFileSelected($event)"
                    [disabled]="!csvEnabled"
                  />
                  <label
                    class="custom-file-label"
                    for="archivoCSV"
                    id="archivoCSVLabel"
                    >Escoger Archivo</label
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-5">
            <button id="btnEliminarTodos" class="btn btn-danger float-right" (click)="eliminarTodosLosDocentes()">
              Eliminar Todos
            </button>
          </div> -->
          <button id="btnAsignar" class="btn btn-primary float-right">
            Asignar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content-section1">
  <!-- tabla de docentes -->
  <div class="col-md-12">
    <!-- /.card -->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title" style="color: blueviolet;">DOCENTES</h3>
      </div>

      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap table-striped">
          <thead>
            <tr style="text-align: center">
              <th>ID</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Cedula</th>
              <th>Email</th>
              <th>Celular</th>
              <th>Asignatura</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let doc of docentes | paginate: {itemsPerPage: 3, currentPage: page}'>
              <td>{{doc.id}}</td>
              <td>{{doc.apellido}}</td>
              <td>{{doc.nombre}}</td>
              <td>{{doc.cedula}}</td>
              <td>{{doc.email}}</td>
              <td>{{doc.celular}}</td>
              <td style="text-align: center; color: green;"><ion-icon style="cursor: pointer;" name="create-outline"></ion-icon></td>
              <td style="text-align: center; color: red;"><ion-icon style=" cursor: pointer;" name="close-circle-outline"></ion-icon></td>
            </tr>
            <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</section>

<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    //Initialize Select2 Elements
    $(".select2bs4").select2({
      theme: "bootstrap4",
    });

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", { placeholder: "dd/mm/yyyy" });
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", { placeholder: "mm/dd/yyyy" });
    //Money Euro
    $("[data-mask]").inputmask();

    //Date picker
    $("#reservationdate").datetimepicker({
      format: "L",
    });

    //Date and time picker
    $("#reservationdatetime").datetimepicker({
      icons: { time: "far fa-clock" },
    });

    //Date range picker
    $("#reservation").daterangepicker();
    //Date range picker with time picker
    $("#reservationtime").daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: "MM/DD/YYYY hh:mm A",
      },
    });
    //Date range as a button
    $("#daterange-btn").daterangepicker(
      {
        ranges: {
          Today: [moment(), moment()],
          Yesterday: [
            moment().subtract(1, "days"),
            moment().subtract(1, "days"),
          ],
          "Last 7 Days": [moment().subtract(6, "days"), moment()],
          "Last 30 Days": [moment().subtract(29, "days"), moment()],
          "This Month": [moment().startOf("month"), moment().endOf("month")],
          "Last Month": [
            moment().subtract(1, "month").startOf("month"),
            moment().subtract(1, "month").endOf("month"),
          ],
        },
        startDate: moment().subtract(29, "days"),
        endDate: moment(),
      },
      function (start, end) {
        $("#reportrange span").html(
          start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY")
        );
      }
    );

    //Timepicker
    $("#timepicker").datetimepicker({
      format: "LT",
    });

    //Bootstrap Duallistbox
    $(".duallistbox").bootstrapDualListbox();

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    $(".my-colorpicker2").on("colorpickerChange", function (event) {
      $(".my-colorpicker2 .fa-square").css("color", event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function () {
      $(this).bootstrapSwitch("state", $(this).prop("checked"));
    });
  });
  // BS-Stepper Init
  document.addEventListener("DOMContentLoaded", function () {
    window.stepper = new Stepper(document.querySelector(".bs-stepper"));
  });

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false;

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, {
    // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
  });

  myDropzone.on("addedfile", function (file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function () {
      myDropzone.enqueueFile(file);
    };
  });

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function (progress) {
    document.querySelector("#total-progress .progress-bar").style.width =
      progress + "%";
  });

  myDropzone.on("sending", function (file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
    file.previewElement
      .querySelector(".start")
      .setAttribute("disabled", "disabled");
  });

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function (progress) {
    document.querySelector("#total-progress").style.opacity = "0";
  });

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function () {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
  };
  document.querySelector("#actions .cancel").onclick = function () {
    myDropzone.removeAllFiles(true);
  };

  // DropzoneJS Demo Code End
</script>
