<style>
  .content-section {
    margin-left: 50px;
    margin-right: 10px;
    padding: 20px;
  }
  .content-section1 {
    margin-left: 100px;
    padding: 20px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  
    /* Estilo de la tabla */
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px; /* Espacio superior */
      margin-bottom: 20px; /* Espacio inferior */
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: rgb(162, 76, 243);
      color: white;
    }
  
    tr:nth-child(even) {
      background-color: lavender; /* Estilo de las filas pares */
    }
  
    tr:hover {
      background-color: plum; /* Estilo al pasar el mouse por encima de una fila */
    }

    .boton {
      width: 200px;
    }

    body {
      font-size: 16px; /* Ajusta el tamaño de la letra en todo el HTML */
    }
  
    .btn {
      font-size: 20px; /* Tamaño del texto del botón */
      padding: 15px 30px; /* Espacio interno del botón (alto x ancho) */
    }
  
    .icono {
      font-size: 30px; /* Tamaño del icono de descarga */
      margin-left: 10px; /* Espacio entre el botón y el icono */
    }
  </style>

  <section class="content-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="custom-heading" style="text-align: center; color: blueviolet;">Asignaciones</h2>
        </div>
      </div>
      <div class="row">
        <!-- Aquí solo usamos el atributo class una vez -->
        <form autocomplete="off" class="form-group col-md-22">
          <div style="display: flex; flex-direction: row; ;">
            <div class="col-md-12" style="margin-right: 200px; justify-content: space-between">
              <div class="container">
          
                <!-- Guía Didáctica -->
                <div class="form-group" style="margin-bottom: 20px; ">
                  <label for="asunto">Guia didactica</label>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="subirArchivos($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>
          
                <!-- Plan Docente -->
                <div class="form-group" style="margin-bottom: 20px; margin-left: 40px;">
                  <label for="asunto">Plan docente</label>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="subirArchivos($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>
          
                <!-- Texto Guía -->
                <div class="form-group" style="margin-left: 40px;">
                  <label for="asunto">Texto guia</label>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="subirArchivos($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
          
        <table>
          <thead>
            <tr>
              <th>Material</th>
              <th>Periodo</th>
              <th>Fecha de entrega</th>
              <th>Fecha límite</th>
              <th>Entregado</th>
              <th>Estado</th>
              <th>Archivos</th>
              <th>Rubrica</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                
              <li>Guía Didáctica</li>
              <td>OCT2023-FEB2024</td>
              <td>2023-07-30</td>
              <td>2023-07-31</td>
              <td>X</td>
              <td>Aceptado</td>
              <td>
                <a href="enlace_archivo_1.pdf">Archivo 1</a>
              </td>
              <td><ion-icon name="download-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>
                
              <li>Guía Didáctica</li>
              <td>OCT2023-FEB2024</td>
              <td>2023-07-30</td>
              <td>2023-07-31</td>
              <td>X</td>
              <td>Aceptado</td>
              <td>
                <a href="enlace_archivo_1.pdf">Archivo 1</a>
              </td>
              <td><ion-icon name="download-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>
                
              <li>Guía Didáctica</li>
              <td>OCT2023-FEB2024</td>
              <td>2023-07-30</td>
              <td>2023-07-31</td>
              <td>X</td>
              <td>Aceptado</td>
              <td>
                <a href="enlace_archivo_1.pdf">Archivo 1</a>
              </td>
              <td><ion-icon name="download-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>
                
              <li>Plan Docente</li>
              <td>OCT2023-FEB2024</td>
              <td>2023-07-30</td>
              <td>2023-07-31</td>
              <td>X</td>
              <td>Aceptado</td>
              <td>
                <a href="enlace_archivo_1.pdf">Archivo 1</a>
              </td>
              <td><ion-icon name="download-outline"></ion-icon></td>
            </tr>
            <!-- Puedes agregar más filas con los datos que necesites -->
          </tbody>
        </table>
      </form>
    </div>
  </div>
</section>