

<section class="content-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 style="text-align: center; color: blueviolet;">ASIGNACIONES</h1>
        </div>
      </div>
      <div class="row">
        <!-- Aquí solo usamos el atributo class una vez -->
        <form autocomplete="off" class="form-group col-md-22">
          <div style="display: flex; flex-direction: row; ;">
            <div class="col-md-12" style="margin-right: 200px; justify-content: space-between">
              <div class="container">
          
                <!-- Guía Didáctica -->
                <div class="form-group col-sm-3" style="margin-bottom: 20px; ">
                  <h2 style="color: blueviolet;">Guía didáctica</h2>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="selectFile($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>
          
                <!-- Plan Docente -->
                <div class="form-group col-sm-3" style="margin-bottom: 20px; margin-left: 40px;">
                  <h2 style="color: blueviolet;">Plan docente</h2>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="selectFile($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>
          
                <!-- Texto Guía -->
                <div class="form-group col-sm-3" style="margin-left: 40px;">
                  <h2 style="color: blueviolet;">Texto guía</h2>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <input (change)="selectFile($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Cargar Archivo</label>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2" style="margin-top: 40px;">
                  <button
                    class="btn btn-success btn-sm-1"
                    [disabled]="!selectedFiles"
                    (click)="upload()"
                  >
                    Upload
                  </button>
                </div>
          
              </div>
            </div>
          </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap table-striped">
          <thead>
            <tr>
              <th>Material</th>
              <th>Periodo</th>
              <th>Fecha de entrega</th>
              <th>Fecha límite</th>
              <th>Entregado</th>
              <th>Estado</th>
              <th>Archivos</th>
              <th>Rubrica</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                
              <li>Guía Didáctica</li>
              <td>OCT2023-FEB2024</td>
              <td>2023-07-30</td>
              <td>2023-07-31</td>
              <td>X</td>
              <td>Aceptado</td>
              <td>
                <a href="enlace_archivo_1.pdf" (click)="downloadAttachment()">Archivo 1</a>
              </td>
              <!-- Botón personalizado con ícono de Ion -->
              <td>
                <ion-icon name="download-outline" class="download-icon" (click)="selectFileInput.click()" style="cursor: pointer;"></ion-icon>
                <input #selectFileInput (change)="selectFile_upload($event)" type="file" class="custom-file-input" style="display: none;">
              </td>

            </tr>
            <!-- Puedes agregar más filas con los datos que necesites -->
          </tbody>
        </table>
      </div>
      </form>
    </div>
  </div>
</section>

