.card-custom {
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
  margin-block-start: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.table {
  border-radius: 10px;
}

#comboNombres {
  background-color: #CAA1FF;
  color: white;
  width: 200px; /* Ajsusta el tamaño según tus necesidades */
  margin-left: 40px;
}
#lable1 {
  margin-left: 40px;
}

.table thead th:first-child {
  border-radius: 10px 0 0 0;
}

.table thead th:last-child {
  border-radius: 0 10px 0 0;
}

.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.table tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.custom-heading {
  color: #9543FF !important;
}
.sidebar {
  background-color: #9543FF;
  color: white;
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid white;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar >li{
  float: left;
}

.sidebar li ul {
  display:none;
  position:relative;

  min-width: 140px;
}
.sidebar li:hover > ul{
  display: block;
}

/* Estilos para separar los contenidos */
.content {
  margin-left: 220px;
  padding: 20px;
}
